:root{
    --blue: #55b1f5;
    --blueHover: #67b6f0;
    --blueActive: #42a9f5;
    --white: white;
    --black: #19141E;
    --gray: #9c9c9c;
    --bkg1: white;
    --text: rgb(26, 0, 51);

    --ombra: 0px 0px 20px 0px rgba(0,0,0,0,4);
    --ombraLight: 0px 0px 20px 0px rgba(255,255,255,255,4);

    --main-background: #11111d;

}

#noSottolineato{
    text-decoration: none;
}

nav{
    width: 100vw;
    height: 5rem;
}

nav h1{
    padding-left: 10px;
}

nav ul{
    list-style: none;
    float: right;
    transform: translate(-2rem, -3.5rem);
}

nav ul li{
    display: inline-block;
    transition: .5s;
    border: #111216 3px solid;
    border-radius: 20px;
}

nav ul li a{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li:hover{
    background-color: wheat;
}

.boxinfo{
    border: rgb(77, 77, 77) 4px solid;
    border-radius: 25px;
    /*padding: 10px;*/
    margin: 5px;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);

    padding: 12px;
    -moz-box-shadow: 0 0 25px #333333;
    -webkit-box-shadow:0 0 250px #333333;
    box-shadow: 0 0 25px #333333;

    width: 800px;
    height: 550px;
    display: inline-block;

    /*padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;*/
}

.boxinfo h2{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #00ff00 0%, #55FF55 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    
    padding-left: 6px;
    padding-top: 6px;
}

.boxinfo .lavoro{
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: grid;
    font-size: 26px;

    background-color: #ff8177;
    background-image: linear-gradient(to right, #fff 0%, #AAAAAA 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.boxinfo .lavoro:hover{
    transition: all 10s ease-in-out;

    background-color: #ff8177;
    background-image: linear-gradient(to right, #fff 0%, #AAAAAA 50%, #555555 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.boxinfo .generale{
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: grid;
    font-size: 26px;

    background-color: #ff8177;
    background-image: linear-gradient(to right, #fff 0%, #AAAAAA 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

.boxinfo .generale:hover{
    transition: all 10s ease-in-out;

    background-color: #ff8177;
    background-image: linear-gradient(to left, #fff 0%, #AAAAAA 50%, #555555 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.boxinfo .season1{
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: grid;
    font-size: 28px;
}

.boxaltro{
    border: rgb(77, 77, 77) 4px solid;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);

    width: 600px;
    height: 500px;
    display: inline-block;
}

@media (max-width: 425px) {
    .boxinfo {
        width: 300px;
        height: 800px;
    }
    .staff-section {
        width: 411px;
    }
    .footer {
        width: 100%;
        height: 270px;
    }
    .copyright {
        display: none;
    }
    .logos {
        margin: auto 5px auto 30px;
    }
    #about-section {
        width: 411px;
    }
    #main-bg {
        width: 411px;
    }
    #topbar {
        width: 411px;
    }
    #varie {
        /* right: 67px;
        position: fixed; */
        display: none;
    }
    #myBtn {
        /* display: grid;
        position: sticky;
        /* bottom: 20px;
        right: 30px; */
        /*bottom: 100px;
        right: 100px;*/
        display: none;
      }

    
    .about-section {
        width: 411px;
    }
    .main-bg {
        width: 411px;
    }
    .topbar {
        width: 411px;
    }
    .varie {
        /* right: 67px;
        position: fixed; */
        display: none;
    }
    .myBtn {
        /* display: grid;
        position: sticky;
        /* bottom: 20px;
        right: 30px; */
        /*bottom: 100px;
        right: 100px;*/
        display: none;
      }
}
@media (max-width: 375px) {
    #about-section {
        width: 411px;
    }
    #main-bg {
        width: 411px;
    }
    #topbar {
        width: 411px;
    }
}


.text{
    font-size: 20px;
    color: white;
    margin: auto 10px auto 0;
    padding: 0.6px;
}



#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;

    /*width: 250px;
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 4s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;*/
  }



.fa-gem {
    margin-right: 0.5rem;

    /*width: 250px;
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 1s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;*/
}

#fa__home{
    font-size: 1.6rem;
}

#fa__person{
    font-size: 1.8rem;
}

#fa__arrow_up{
    font-size: 1.8rem;
}

#fa__check_to_slot{
    font-size: 1.8rem;
}

#fa__map{
    font-size: 1.7rem;
}



.home:hover{
    transform: scale(1.35);
    cursor: pointer;
    /*background-color: white;*/
    font-weight: bold;
    transition: all 0.20s ease-in-out;
    color: #ff0844;

    /*width: 250px;*/
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 2.5s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;
}

.staff:hover{
    transform: scale(1.35);
    cursor: pointer;
    /*background-color: white;*/
    font-weight: bold;
    transition: all 0.20s ease-in-out;

    /*width: 250px;*/
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 2.5s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;
}

.season:hover{
    transform: scale(1.35);
    cursor: pointer;
    /*background-color: white;*/
    font-weight: bold;
    transition: all 0.20s ease-in-out;

    /*width: 250px;*/
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 2.5s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;
}

.vota:hover{
    transform: scale(1.35);
    cursor: pointer;
    /*background-color: white;*/
    font-weight: bold;
    transition: all 0.20s ease-in-out;

    /*width: 250px;*/
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 2.5s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;
}

.mappaonline:hover{
    transform: scale(1.35);
    cursor: pointer;
    /*background-color: white;*/
    font-weight: bold;
    transition: all 0.20s ease-in-out;

    /*width: 250px;*/
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 2.5s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;
}

.mode:hover{
    transform: scale(1.35);
    cursor: pointer;
    /*background-color: white;*/
    font-weight: bold;
    transition: all 0.20s ease-in-out;

    /*width: 250px;*/
    max-width: 100%;
    margin-bottom: 50px;
    animation: pulse 2.5s infinite;
    animation-timing-function: ease-in-out;
    height: unset !important;
}

/*#fa__home:hover{
    font-size: 1.6rem;

    transform: scale(1.35);
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    transition: all 0.50s ease-in-out;
}

#fa__person:hover{
    font-size: 1.8rem;

    transform: scale(1.35);
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    transition: all 0.50s ease-in-out;
}

#fa__arrow_up:hover{
    font-size: 1.8rem;
}

#fa__check_to_slot:hover{
    font-size: 1.8rem;
}

#fa__map:hover{
    font-size: 1.7rem;
}*/

/*{
    box-sizing: border-box;
}

body{
    background: #101010;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    background: #353535;
    line-height: 40px;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
}

.search-input{
    background: #353535;
    color: #fff;
    outline: none;
    border: none;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 1em;
    transition: 0.7s ease;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #353535;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: #22ffc0;
    transition: 0.4s ease;
}

.search-box:hover > .search-input,
.search-input:focus {
    width: 240px;
    margin: 0px 8px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn{
    background: #22ffc0;
    color: #101010;
}*/

/* Skin Staff */

/* Dev */

#preloader {
    position: fixed !important;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--main-background);
    animation: hideLoader 0s ease-in 1s;
    animation-fill-mode: forwards;
  }
  #preloader:before {
    content: "";
    position: fixed !important;
    background: url(/assets/spinner.svg);
    background-size: cover;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: animate-preloader 1s linear infinite hideLoader 0s ease-in 1s;
    animation-fill-mode: forwards;
  }
  @keyframes hideLoader {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }


.menu:hover{
        /*width: 250px;*/
        /* max-width: 100%; 
        margin-bottom: 50px;*/
        animation: pulse 2s infinite;
        animation-timing-function: ease-in-out;
        /* height: unset !important; */
}

#varie-pages{
    display: grid;
    background-color: #00ff00;
    float: left;
    position: sticky;
}
.varie{
    font-size: 30px;
    display: grid;
    cursor: pointer;
    left: 305px;
    position: sticky;
}

#myBtn {
    /* display: none; */
    position: fixed;
    /* bottom: 20px;
    right: 30px; */
    bottom: 508px;
    left: 240px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #222222;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 150px;
  }
  
  #myBtn:hover {
    background-color: #555;
    transition: 0.6s;
  }